*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-color: rgb(38, 37, 37);
}
body{
    text-align: center;
    color: beige;
    margin: 20px auto;
    width: 60%;
    min-width: 100vh;
    min-height: 100vh;
}
.logo{
    width: 100px;
}
.slogan{
    font-size: 14px;
    margin-bottom: 2rem;
}
.span{
    color: rgb(243, 222, 186);
}
.line{
    color: beige;
    border: 0.5px beige solid;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.intro{
    margin: 3rem 0px 5rem 0px;
    font-size: 19px;
}
.meals{
    border: 0px;
    width: 250px;
    margin: 20px;
    height: 300px;
    border-radius: 10px;
    color: rgb(62, 15, 15);
    background-color: none;
    text-transform: capitalize;

}
.deli{
    background-image: url("images/Beef-Stew-Feature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cakes{
    background-image: url("images/Strawberry-Lemonade-Cake-Feature-360x495.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cookies{
    background-image: url("images/cookie-ddough-feature-n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cupcakes{
    background-image: url("images/Strawberry-Cupcakes-Feature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
    width: 100%;
    height: 300px;
    padding-top:150px;
    background: none;
    font-size: 35px;
    font-weight: 500;
    font-style:oblique;
}
.meals:hover{
    color: white;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.6;
}
img{
    width: 250px;
    border-radius: 15px;
}